<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://tralvelvietnam.000webhostapp.com/"><em>Ruby on Rails Tutotial</em></a> is a <a href="https://tralvelvietnam.000webhostapp.com/">book</a> and to teach web development with
  <a href="https://tralvelvietnam.000webhostapp.com/">screencast series</a> to teach web development with
  <a href="https://tralvelvietnam.000webhostapp.com/">Ruby on Rails</a>This is a sample application for the tutorial.

</p>
