  <% provide(:title, "Contact") %>
  <h1>Contact</h1>
  <p>
    Contact the RUby on Rails Tutorial about the sample app at the
    <a href="https://tralvelvietnam.000webhostapp.com/Contact">Contact page</a>
  </p>
