<% provide(:title, "Help") %>
<h1>Help</h1>
<p> Get help on the Ruby on Rails Tutorial at the
  <a href="https://tralvelvietnam.000webhostapp.com/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="https://tralvelvietnam.000webhostapp.com/"><em>How to Chich_me!</em>ahihi</a>

</p>
